<!--Main HTML document.-->

<!DOCTYPE html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="./css/main.css">
      <link rel="stylesheet" href="./css/bootstrap.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="scripts/operations.js"></script>
   </head>

   <body>
      <div id="header">
         <div id="Button">
            <button type="button" class="btn btn-primary btn-lg" id="run_button" onclick="this.disabled=true;" autocomplete="off">Show table data</button>
         </div>
      </div>
      <br>
      <div id="wrapper">
         <table border='3' id="display" style="text-align: center; width: 1100px;"></table>	
      </div>
   </body>
</html>
